<h1>Edit Note</h1>
<%= form_with model: @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
<br/>
<br/>
  <%= f.label :author %>
  <%= f.text_field :author %>
<br/>
<br/>
  <%= f.label :body %>
  <%= f.text_area :body %>
<br/>
<br/>
  <%= f.submit %>
<% end %>